body{
    background-color: black;
    color: white;
    height: 100%;

}
button{
    background-color: transparent;
    color: white;
    border: 5px solid blue;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background-color: blue;
}
.con{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    height: 50vh;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 15px 32px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    margin: auto;
}
input{
    padding: 15px 32px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 10px;
    display: block;
}
.btn1{
    margin-bottom: 10px;
}
.btn2{
    margin-top: 10px;
    margin-bottom: 10px;
}
p{
    display: inline;
    padding: 15px 32px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 10px;
    margin-left: 20px;
}
.con11{
    visibility: hidden;
}